asn1crypto==0.24.0
bcrypt==3.1.4
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
coverage==4.5.2
cryptography==2.3.1
cycler==0.10.0
Cython==0.29.5
greenlet==0.4.15
idna==2.8
kiwisolver==1.0.1
matplotlib==3.0.2
memory-profiler==0.55.0
memprof==0.3.4
numpy==1.16.1
psutil==5.5.1
pycparser==2.19
pycrypto==2.6.1
PyJWT==1.5.3
PyMySQL==0.7.11
pyparsing==2.3.1
python-dateutil==2.8.0
requests==2.21.0
six==1.12.0
tormysql==0.4.0
tornado==5.0.2
urllib3==1.24.2
